<a href="https://colab.research.google.com/github/cs575ts/Assignments/blob/main/Assignment_1/CS575_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic Descriptive Stats

##Load Numpy, Pandas and other Libraries

In [74]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import iqr
import math
import statistics

### Load Dataset "Inc_Exp_Data.csv" using Pandas

In [75]:
df=pd.read_csv('Inc_Exp_Data.csv')

Analyze the data using pandas info() *function*

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     int64
 2   No_of_Fly_Members         50 non-null     int64
 3   Emi_or_Rent_Amt           50 non-null     int64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

Analyze the data using pandas describe() *function*

In [77]:
df.describe()

       Mthly_HH_Income  ...  No_of_Earning_Members
count        50.000000  ...              50.000000
mean      41558.000000  ...               1.460000
std       26097.908979  ...               0.734291
min        5000.000000  ...               1.000000
25%       23550.000000  ...               1.000000
50%       35000.000000  ...               1.000000
75%       50375.000000  ...               2.000000
max      100000.000000  ...               4.000000

[8 rows x 6 columns]

Analyze the data using pandas shape object

In [78]:
print(df.shape)

(50, 7)

Check for missing values

In [79]:
df.isnull().sum()

Mthly_HH_Income             0
Mthly_HH_Expense            0
No_of_Fly_Members           0
Emi_or_Rent_Amt             0
Annual_HH_Income            0
Highest_Qualified_Member    0
No_of_Earning_Members       0
dtype: int64

What is the Mean Expense of a Household? Compute mean using Inbuilt pandas function and write your own function for the same.

In [81]:
#My mean function
def my_mean(arr):
  Sum=0
  for i in arr:
    Sum+=i
  mean=Sum/len(arr)
  return mean

In [82]:
mean1=df['Mthly_HH_Expense'].mean()
mean2=my_mean(df['Mthly_HH_Expense'])
print("Mean Expense of a Household using inbuilt function is: ",mean1)
print("Mean Expense of a Household using my mean function is: ",mean2)

Mean Expense of a Household using inbuilt function is:  18818.0
Mean Expense of a Household using my mean function is:  18818.0

What is the Median Household Expense? Compute Median using Inbuilt pandas function and write your own function for the same.

In [83]:
#My median function
def my_median(arr):
  n = len(arr)
  if n % 2 == 0: 
    m1 = arr[n//2] 
    m2 = arr[n//2 - 1] 
    median = (m1 + m2)/2
  else: 
    median = arr[n//2]
  return median

In [84]:
exp_sort=sorted(list(df.Mthly_HH_Expense))
median1=df['Mthly_HH_Expense'].median()
median2=my_median(exp_sort)
print("Median Expense of a Household using inbuilt function is: ",median1)
print("Median Expense of a Household using my median function is: ",median2)

Median Expense of a Household using inbuilt function is:  15500.0
Median Expense of a Household using my median function is:  15500.0

What is the Monthly Expense for most of the Households?

In [85]:
print("Monthly Expense for most of the Households is: ",statistics.mode(df.Mthly_HH_Expense))

Monthly Expense for most of the Households is:  25000

Calculate IQR(difference between 75% and 25% quartile)

In [88]:
df[['Mthly_HH_Income', 'Mthly_HH_Expense','No_of_Fly_Members','Emi_or_Rent_Amt','Annual_HH_Income','No_of_Earning_Members']].apply(iqr)

Mthly_HH_Income           26825.0
Mthly_HH_Expense          15000.0
No_of_Fly_Members             2.0
Emi_or_Rent_Amt            3500.0
Annual_HH_Income         335970.0
No_of_Earning_Members         1.0
dtype: float64

Calculate Standard Deviation for first 4 columns. Compute Standard Deviation using Inbuilt pandas function and write your own function for the same.

In [89]:
#My variance function
def my_var(arr):
  mu=my_mean(arr)
  Sum=0
  for i in arr:
    Sum=Sum+((i-mu)**2)
  var=Sum/(len(arr)-1)
  return var

In [90]:
#My standard deviation function
def my_std(arr):
  var=my_var(arr)
  std=math.sqrt(var)
  return std

In [91]:
y=df[['Mthly_HH_Income', 'Mthly_HH_Expense','No_of_Fly_Members','Emi_or_Rent_Amt']].std()
print('Standard Deviation for first 4 columns using inbuilt pandas function are:')
print(y)
std1=my_std(df.Mthly_HH_Income)
std2=my_std(df.Mthly_HH_Expense)
std3=my_std(df.No_of_Fly_Members)
std4=my_std(df.Emi_or_Rent_Amt)
print('Standard Deviation for first 4 columns using my standard deviation function are:')
print('Mthly_HH_Income:',std1,'\nMthly_HH_Expense:',std2,'\nNo_of_Fly_Members:',std3,'\nEmi_or_Rent_Amt:',std4)

Standard Deviation for first 4 columns using inbuilt pandas function are:
Mthly_HH_Income      26097.908979
Mthly_HH_Expense     12090.216824
No_of_Fly_Members        1.517382
Emi_or_Rent_Amt       6241.434948
dtype: float64
Standard Deviation for first 4 columns using my standard deviation function are:
Mthly_HH_Income: 26097.908978713687
Mthly_HH_Expense: 12090.216824240286
No_of_Fly_Members: 1.5173822786601394
Emi_or_Rent_Amt: 6241.434947516607

Calculate Variance for first 3 columns. Compute Variance using Inbuilt pandas 
function and write your own function for the same.

In [92]:
#Mean and variance called from self defined function above
y=df[['Mthly_HH_Income', 'Mthly_HH_Expense','No_of_Fly_Members']].var()
print("Variance for first 3 columns using inbuilt pandas function are:")
print(y)
var1=my_var(df.Mthly_HH_Income)
var2=my_var(df.Mthly_HH_Expense)
var3=my_var(df.No_of_Fly_Members)
print("Variance for first 3 columns using my variance function are:")
print('Mthly_HH_Income:',var1,'\nMthly_HH_Expense:',var2,'\nNo_of_Fly_Members:',var3)

Variance for first 3 columns using inbuilt pandas function are:
Mthly_HH_Income      6.811009e+08
Mthly_HH_Expense     1.461733e+08
No_of_Fly_Members    2.302449e+00
dtype: float64
Variance for first 3 columns using my variance function are:
Mthly_HH_Income: 681100853.0612245
Mthly_HH_Expense: 146173342.85714287
No_of_Fly_Members: 2.302448979591837

Calculate Skewness for first 3 columns. Compute Skewness using Inbuilt pandas function and write your own function for the same.

In [93]:
#My variance function
def my_var2(arr):
  mu=my_mean(arr)
  Sum=0
  for i in arr:
    Sum=Sum+((i-mu)**2)
  var=Sum/(len(arr))
  return var

In [94]:
#My standard deviation function
def my_std2(arr):
  var=my_var2(arr)
  std=math.sqrt(var)
  return std

In [95]:
#My skewness function
def my_skew(arr):
  mu=my_mean(arr)
  s=my_std2(arr)
  Sum=0
  for i in arr:
    Sum=Sum+((i-mu)**3)
  skew=Sum/(len(arr)*(s**3))
  return skew

In [96]:
y=df[['Mthly_HH_Income', 'Mthly_HH_Expense','No_of_Fly_Members']].skew()
print("Skewness for first 3 columns using inbuilt pandas function are:")
print(y)
skew1=my_skew(df.Mthly_HH_Income)
skew2=my_skew(df.Mthly_HH_Expense)
skew3=my_skew(df.No_of_Fly_Members)
print("Skewness for first 3 columns using my skewness function are:")
print('Mthly_HH_Income:',skew1,'\nMthly_HH_Expense:',skew2,'\nNo_of_Fly_Members:',skew3)

Skewness for first 3 columns using inbuilt pandas function are:
Mthly_HH_Income      0.924615
Mthly_HH_Expense     1.199461
No_of_Fly_Members    0.113674
dtype: float64
Skewness for first 3 columns using my skewness function are:
Mthly_HH_Income: 0.8966419872996333
Mthly_HH_Expense: 1.163172846960863
No_of_Fly_Members: 0.11023510701807843

Calculate Kurtosis for first 3 columns. Compute Kurtosis using Inbuilt pandas function and write your own function for the same.

In [99]:
#My kurtosis function
def my_kurtosis(arr):
  mu=my_mean(arr)   #Mean and standard deviation called from self defined function above
  s=my_std2(arr)
  Sum=0
  for i in arr:
    Sum=Sum+((i-mu)**4)
  kurtosis=Sum/((len(arr)-1)*(s**4))-3
  return kurtosis

In [100]:
y=df[['Mthly_HH_Income', 'Mthly_HH_Expense','No_of_Fly_Members']].kurtosis()
print("Kurtosis for first 3 columns using inbuilt pandas function are:")
print(y)
kurtosis1=my_kurtosis(df.Mthly_HH_Income)
kurtosis2=my_kurtosis(df.Mthly_HH_Expense)
kurtosis3=my_kurtosis(df.No_of_Fly_Members)
print("Kurtosis for first 3 columns using my kurtosis function are:")
print('Mthly_HH_Income:',kurtosis1,'\nMthly_HH_Expense:',kurtosis2,'\nNo_of_Fly_Members:',kurtosis3)

Kurtosis for first 3 columns using inbuilt pandas function are:
Mthly_HH_Income      0.115550
Mthly_HH_Expense     0.942490
No_of_Fly_Members   -0.851445
dtype: float64
Kurtosis for first 3 columns using my kurtosis function are:
Mthly_HH_Income: 0.0476194401137775
Mthly_HH_Expense: 0.8093837384589446
No_of_Fly_Members: -0.8431613146456525

Find the correlation coeeficient between the "Mthly_HH_Income" and	"Mthly_HH_Expense". Compute correlation coeeficient using Inbuilt pandas function and write your own function for the same.

In [101]:
#My correlation function
def my_corr(arr1,arr2):
  Sum1=0
  Sum2=0
  Sum3=0
  mu1=my_mean(arr1)       #Mean called from self defined function above
  mu2=my_mean(arr2)
  for i, j in zip(arr1, arr2):
    Sum1+=((i-mu1)*(j-mu2))
  for i in arr1:
    Sum2+=((i-mu1)**2)
  for j in arr2:
    Sum3+=((j-mu2)**2)
  corr=Sum1/(math.sqrt(Sum2*Sum3))
  return corr

In [103]:
corr1=df.Mthly_HH_Income.corr(df.Mthly_HH_Expense)
print("Correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using Inbuilt pandas function is:\n",corr1)
corr2=my_corr(df.Mthly_HH_Income,df.Mthly_HH_Expense)
print("Correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using my correlation function is:\n",corr2)

Correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using Inbuilt pandas function is:
 0.6492152549316462
Correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using my correlation function is:
 0.6492152549316461

Calculate the total counts under each qualification

In [105]:
df[['Highest_Qualified_Member']].value_counts()

Highest_Qualified_Member
Graduate                    19
Under-Graduate              10
Professional                10
Post-Graduate                6
Illiterate                   5
dtype: int64

Compute logarithmic mean of the first two cols using your own function

In [106]:
def my_lmean(arr):
  x = min(arr)
  y = max(arr)
  lmean = (y - x)/(np.log(y)-np.log(x))
  return lmean

In [107]:
print("Logarithmic mean of the first column is: ",my_lmean(df.Mthly_HH_Income))
print("Logarithmic mean of the second column is: ",my_lmean(df.Mthly_HH_Expense))

Logarithmic mean of the first column is:  31711.77906605674
Logarithmic mean of the second column is:  14912.038429430682

Compute geometric mean of the first two cols using your own  function and verify using inbuilt Python function

In [108]:
def my_gmean(arr):
  Product=1
  for i in arr:
    Product*=i
  gmean=(Product)**(1/len(arr))
  return gmean

In [109]:
gmean11=stats.gmean(df.Mthly_HH_Income)
gmean12=stats.gmean(df.Mthly_HH_Expense)
gmean21=my_gmean(df.Mthly_HH_Income)
gmean22=my_gmean(df.Mthly_HH_Expense)
print("Geometric mean of first column using inbuilt Python function is: ",gmean11)
print("Geometric mean of second column using inbuilt Python function is: ",gmean12)
print("Geometric mean of first column using my function is: ",gmean21)
print("Geometric mean of second column using my function is: ",gmean22)

Geometric mean of first column using inbuilt Python function is:  33590.37754021395
Geometric mean of second column using inbuilt Python function is:  15391.89958222314
Geometric mean of first column using my function is:  33590.377540213965
Geometric mean of second column using my function is:  15391.899582223135

Compute *Mean Deviation from the Mean* of the first two cols using your own  function and verify using inbuilt Python function

In [112]:
def my_meandev(arr):
  mu = my_mean(arr)
  Sum = 0
  for i in arr:
    Sum+=(i-mu)
  dev=(Sum/len(arr))
  return dev

In [113]:
print("Mean Deviation from the Mean of the Mthly_HH_Income column is: ",my_meandev(df.Mthly_HH_Income))
print("Mean Deviation from the Mean of the Mthly_HH_Expense column is: ",my_meandev(df.Mthly_HH_Expense))

Mean Deviation from the Mean of the Mthly_HH_Income column is:  0.0
Mean Deviation from the Mean of the Mthly_HH_Expense column is:  0.0

In [130]:
#Mean deviation inbuilt function not found

Compute *Mean Absolute Deviation from the Mean* of the first two cols using your own function and verify using inbuilt Python function

In [116]:
#My mean absolute deviation function
def my_mad(arr):
  Sum=0
  mu=my_mean(arr)
  for i in arr:
    Sum+=abs(i-mu)
  mad=Sum/len(arr)
  return mad

In [117]:
mad11=df.Mthly_HH_Income.mad()
mad12=df.Mthly_HH_Expense.mad()
mad21=my_mad(df.Mthly_HH_Income)
mad22=my_mad(df.Mthly_HH_Expense)
print("Mean absolute deviation of first column using inbuilt Python function is: ",mad11)
print("Mean absolute deviation of second column using inbuilt Python function is: ",mad12)
print("Mean absolute deviation of first column using my function is: ",mad21)
print("Mean absolute deviation of second column using my function is: ",mad22)

Mean absolute deviation of first column using inbuilt Python function is:  20288.96
Mean absolute deviation of second column using inbuilt Python function is:  9247.44
Mean absolute deviation of first column using my function is:  20288.96
Mean absolute deviation of second column using my function is:  9247.44

Compute *Coefficient of Variation* of the first two cols using your own function and verify using inbuilt Python function

In [118]:
#My Coefficient of Variation function
def my_cv(arr):
  mu=my_mean(arr)
  sigma=my_std2(arr)
  cv=sigma/mu
  return cv

In [119]:
cv11=stats.variation(df.Mthly_HH_Income)
cv12=stats.variation(df.Mthly_HH_Expense)
cv21=my_cv(df.Mthly_HH_Income)
cv22=my_cv(df.Mthly_HH_Expense)
print("Coefficient of Variation of first column using inbuilt Python function is: ",cv11)
print("Coefficient of Variation of second column using inbuilt Python function is: ",cv12)
print("Coefficient of Variation of first column using my function is: ",cv21)
print("Coefficient of Variation of second column using my function is: ",cv22)

Coefficient of Variation of first column using inbuilt Python function is:  0.6216760137420672
Coefficient of Variation of second column using inbuilt Python function is:  0.636024233362227
Coefficient of Variation of first column using my function is:  0.6216760137420672
Coefficient of Variation of second column using my function is:  0.636024233362227

Compute z score  for all numerical cols using your own function  and verify using inbuilt Python function

In [120]:
#My z score function
def my_zscore(arr):
  zscore=[]
  mu=my_mean(arr)
  sigma=my_std2(arr)
  for i in arr:
    z=(i-mu)/sigma
    zscore.append(z)
  return zscore

In [124]:
zscore1=my_zscore(df.Mthly_HH_Income)
zscore2=my_zscore(df.Mthly_HH_Expense)
zscore3=my_zscore(df.No_of_Fly_Members)
zscore4=my_zscore(df.Emi_or_Rent_Amt)
zscore5=my_zscore(df.Annual_HH_Income)
zscore6=my_zscore(df.No_of_Earning_Members)

print("z scores for column Mthly_HH_Income using my zscore function are: \n\n",np.array(zscore1))
print("\nz scores for column Mthly_HH_Expense using my zscore function are: \n\n",np.array(zscore2))
print("\nz scores for column No_of_Fly_Members using my zscore function are: \n\n",np.array(zscore3))
print("\nz scores for column Emi_or_Rent_Amt using my zscore function are: \n\n",np.array(zscore4))
print("\nz scores for column Annual_HH_Income using my zscore function are: \n\n",np.array(zscore5))
print("\nz scores for column No_of_Earning_Members using my zscore function are: \n\n",np.array(zscore6))

z scores for column Mthly_HH_Income using my zscore function are:

 [-1.41502358 -1.37631732 -1.22149227 -1.22149227 -1.12472661 -1.06666721
 -1.02796095 -0.91184216 -0.87313589 -0.83442963 -0.83442963 -0.7570171
 -0.70282833 -0.67960458 -0.67960458 -0.64089831 -0.64089831 -0.64089831
 -0.48607326 -0.44736699 -0.42801386 -0.36995447 -0.29254194 -0.29254194
 -0.25383568 -0.25383568 -0.09901062 -0.06030436  0.01710817  0.05581443
  0.13322696  0.13322696  0.13322696  0.13322696  0.17193322  0.21063949
  0.32675828  0.34611141  0.5202896   0.71382091  0.71382091  0.90735223
  1.10088355  1.48794619  1.6814775   1.87500882  2.18465893  2.26207146
  2.26207146  2.26207146]

z scores for column Mthly_HH_Expense using my zscore function are:

 [-0.90385726 -0.98740849 -1.19628658 -1.40516467 -0.56965232 -0.90385726
 -0.23544738  0.09875756 -0.82030602 -0.82030602 -0.06834491  0.51651373
 -1.15451096 -0.69497917 -0.73675479 -0.54458695  0.09875756 -0.73675479
 -1.02082899 -0.48610108  0.51651373 -0.31899861  0.01520632  0.51651373
 -0.56965232  0.51651373 -0.90385726 -0.73675479 -0.31899861 -0.56965232
  0.51651373  1.76978226 -0.73675479  0.26586003  0.51651373 -0.31899861
  0.09875756  0.09875756  2.18753843 -0.73675479  2.6052946   0.09875756
 -0.82030602  0.09875756  0.51651373  2.43819213  0.51651373  0.93426991
  2.6052946   1.76978226]

z scores for column No_of_Fly_Members using my zscore function are:

 [-0.70566377 -1.37138431 -1.37138431 -2.03710484 -1.37138431 -1.37138431
 -0.70566377  0.6257773  -1.37138431 -0.03994323 -0.03994323  1.29149784
 -0.70566377  1.29149784 -0.03994323 -0.70566377 -0.70566377  1.29149784
 -1.37138431 -0.03994323  0.6257773  -0.03994323  1.29149784 -0.70566377
 -0.70566377 -0.03994323 -0.03994323 -0.03994323 -0.03994323 -0.03994323
  1.29149784  1.29149784 -1.37138431 -0.03994323  0.6257773   1.95721838
 -0.03994323 -0.70566377  1.29149784 -0.70566377  1.29149784 -0.03994323
 -1.37138431 -0.03994323  0.6257773   1.95721838  0.6257773   1.29149784
 -0.03994323  1.29149784]

z scores for column Emi_or_Rent_Amt using my zscore function are:

 [-0.17155697 -0.00971077 -0.49524938 -0.49524938 -0.00971077 -0.49524938
  5.16936771  0.79952024 -0.49524938 -0.49524938  0.79952024  1.44690505
 -0.49524938 -0.49524938 -0.49524938 -0.49524938  0.07121233 -0.49524938
 -0.17155697 -0.49524938  0.31398163 -0.49524938 -0.49524938  0.15213543
 -0.49524938 -0.49524938 -0.49524938 -0.49524938 -0.49524938 -0.49524938
 -0.49524938  0.07121233 -0.33340318 -0.09063387  0.07121233 -0.49524938
 -0.49524938 -0.49524938  1.44690505 -0.49524938  1.12321265  0.31398163
 -0.49524938 -0.49524938 -0.49524938 -0.49524938 -0.49524938 -0.49524938
  2.74167467  1.12321265]

z scores for column Annual_HH_Income using my zscore function are:

 [-1.34362417 -1.29402147 -1.19027232 -1.23949637 -1.08235806 -0.92597705
 -1.01798815 -0.86463631 -0.85554879 -0.84949045 -0.66774012 -0.66319636
 -0.62472587 -0.54657323 -0.77376115 -0.76997468 -0.72264386 -0.73211003
 -0.44812513 -0.33074471 -0.43752303 -0.14066416 -0.50340753 -0.06569214
 -0.07515831 -0.12816882  0.21109847 -0.24365601 -0.00359411  0.40761601
  0.10659203  0.05547475 -0.16603347  0.37921752  0.33491588 -0.10469274
  0.25237094  0.2894783   0.3489258   0.31674085  0.31674085  0.49659795
  0.83927305  1.84647281  2.05851486  1.2482113   2.09032117  2.88396429
  1.71016006  2.61891172]

z scores for column No_of_Earning_Members using my zscore function are:

 [-0.63281451 -0.63281451 -0.63281451 -0.63281451 -0.63281451 -0.63281451
 -0.63281451 -0.63281451 -0.63281451  0.7428692   0.7428692  -0.63281451
 -0.63281451  0.7428692   0.7428692  -0.63281451 -0.63281451  2.11855292
 -0.63281451 -0.63281451 -0.63281451 -0.63281451 -0.63281451 -0.63281451
 -0.63281451  0.7428692  -0.63281451 -0.63281451 -0.63281451 -0.63281451
  2.11855292  0.7428692  -0.63281451 -0.63281451 -0.63281451  3.49423663
 -0.63281451  0.7428692   0.7428692  -0.63281451 -0.63281451  0.7428692
 -0.63281451 -0.63281451  0.7428692   2.11855292  0.7428692   2.11855292
  0.7428692  -0.63281451]

In [126]:
newdf = df.select_dtypes(include=np.number)
print("z scores for all numerical columns using inbuilt python function are: ")
newdf.apply(stats.zscore)

z scores for all numerical columns using inbuilt python function are:

    Mthly_HH_Income  Mthly_HH_Expense  ...  Annual_HH_Income  No_of_Earning_Members
0         -1.415024         -0.903857  ...         -1.343624              -0.632815
1         -1.376317         -0.987408  ...         -1.294021              -0.632815
2         -1.221492         -1.196287  ...         -1.190272              -0.632815
3         -1.221492         -1.405165  ...         -1.239496              -0.632815
4         -1.124727         -0.569652  ...         -1.082358              -0.632815
5         -1.066667         -0.903857  ...         -0.925977              -0.632815
6         -1.027961         -0.235447  ...         -1.017988              -0.632815
7         -0.911842          0.098758  ...         -0.864636              -0.632815
8         -0.873136         -0.820306  ...         -0.855549              -0.632815
9         -0.834430         -0.820306  ...         -0.849490               0.742869
10        -0.834430         -0.068345  ...         -0.667740               0.742869
11        -0.757017          0.516514  ...         -0.663196              -0.632815
12        -0.702828         -1.154511  ...         -0.624726              -0.632815
13        -0.679605         -0.694979  ...         -0.546573               0.742869
14        -0.679605         -0.736755  ...         -0.773761               0.742869
15        -0.640898         -0.544587  ...         -0.769975              -0.632815
16        -0.640898          0.098758  ...         -0.722644              -0.632815
17        -0.640898         -0.736755  ...         -0.732110               2.118553
18        -0.486073         -1.020829  ...         -0.448125              -0.632815
19        -0.447367         -0.486101  ...         -0.330745              -0.632815
20        -0.428014          0.516514  ...         -0.437523              -0.632815
21        -0.369954         -0.318999  ...         -0.140664              -0.632815
22        -0.292542          0.015206  ...         -0.503408              -0.632815
23        -0.292542          0.516514  ...         -0.065692              -0.632815
24        -0.253836         -0.569652  ...         -0.075158              -0.632815
25        -0.253836          0.516514  ...         -0.128169               0.742869
26        -0.099011         -0.903857  ...          0.211098              -0.632815
27        -0.060304         -0.736755  ...         -0.243656              -0.632815
28         0.017108         -0.318999  ...         -0.003594              -0.632815
29         0.055814         -0.569652  ...          0.407616              -0.632815
30         0.133227          0.516514  ...          0.106592               2.118553
31         0.133227          1.769782  ...          0.055475               0.742869
32         0.133227         -0.736755  ...         -0.166033              -0.632815
33         0.133227          0.265860  ...          0.379218              -0.632815
34         0.171933          0.516514  ...          0.334916              -0.632815
35         0.210639         -0.318999  ...         -0.104693               3.494237
36         0.326758          0.098758  ...          0.252371              -0.632815
37         0.346111          0.098758  ...          0.289478               0.742869
38         0.520290          2.187538  ...          0.348926               0.742869
39         0.713821         -0.736755  ...          0.316741              -0.632815
40         0.713821          2.605295  ...          0.316741              -0.632815
41         0.907352          0.098758  ...          0.496598               0.742869
42         1.100884         -0.820306  ...          0.839273              -0.632815
43         1.487946          0.098758  ...          1.846473              -0.632815
44         1.681478          0.516514  ...          2.058515               0.742869
45         1.875009          2.438192  ...          1.248211               2.118553
46         2.184659          0.516514  ...          2.090321               0.742869
47         2.262071          0.934270  ...          2.883964               2.118553
48         2.262071          2.605295  ...          1.710160               0.742869
49         2.262071          1.769782  ...          2.618912              -0.632815

[50 rows x 6 columns]

Compute mode using your own function for the first two columns and verify using inbuilt Python function

In [127]:
#My mode function
def my_mode(arr):
  freq={}
  for i in arr:
    freq.setdefault(i,0)
    freq[i]+=1
  arr1=max(freq.values())
  arr2=[]
  for i, j in freq.items():
    if j == arr1:
      arr2.append(i)
  return arr2

In [128]:
mode11=statistics.mode(df.Mthly_HH_Income)
mode12=statistics.mode(df.Mthly_HH_Expense)
mode21=my_mode(df.Mthly_HH_Income)
mode22=my_mode(df.Mthly_HH_Expense)
print("Mode of first column using inbuilt Python function is: ",mode11)
print("Mode of second column using inbuilt Python function is: ",mode12)
print("Mode of first column using my function is: ",*mode21)
print("Mode of second column using my function is: ",*mode22)

Mode of first column using inbuilt Python function is:  45000
Mode of second column using inbuilt Python function is:  25000
Mode of first column using my function is:  45000
Mode of second column using my function is:  25000

Comment if the data for the first two cols is bi-modal, multi-modal or single modal

In [129]:
#First column has 1 mode, ie, 45000
#Second column has 1 mode, ie, 25000
#There both the columns are single modal